<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Wiki Search{% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <!--link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">
  <link rel="stylesheet" href="https://unpkg.com/mvp.css">
  <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css"-->
</head>
<body>
  <header>
    <h1><a href="/">Wiki Search</a></h1>
    <nav>
      <a href="/">Search</a>
      <a href="/path">Shortest Path</a>
      <a href="/degrees">Degree Distribution</a>
      <a href="/redirects">Redirects</a>
      <a href="/pagerank">PageRank</a>
      <a href="/sources">Domain Authority</a>
      <a href="/page-sources">Page Sources</a>
      <a href="/tlds">TLD Distribution</a>
    </nav>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    Simple Wikipedia search · BMS25 & PageRank
  </footer>
</body>
</html>